body{

    animation: transitionIn 2s;
}
 .container-fluid {
     margin: 0;
 }
 @keyframes transitionIn{
     from{
         opacity: 0;
         transform: rotateX(-10deg);
         
        }
        to{
         opacity: 1;
         transform: rotateX(0);

     }
 }

 .page_heading {
     font-size: 36px;
     line-height: 40px;
     color: #050982;
 }

 .page_subheading {
     font-size: 26px;
     line-height: 30px;
     color: #050982;
     margin-top: 40px;
    }
    .subheading{
        color: #050982;
        margin-top: 30px;

    }
  .subheading::after{
    content: "";
    display: block;
    height: 2px;
    background-color:#030e24;
    margin: 10px;
    width: 100px;
    margin-left: 46%;
}
    .img {
     width: 436px;
     /* width: 500px; */
     height: 400px;
     float: left;
     margin: 10px;
     padding: 5px;
     border: 1px solid rgb(20, 20, 168);
    }

 .container-fluid p {
     text-align: right;
     text-align: justify;
     margin: 10px;
 }
 
 .accordion>.card>.card-header {
     background-color: #e3e1de;
    }
    
    .rec_img {
        height: 550px !important;
        width: 80%;
        vertical-align: top;
        border-style: outset;
        padding: 8px;
    }
 .accord_heading{

     color: #050982;
}